<button><a href = "http://localhost:1337/home">Return home!</a></button> <br/>
<button><a href = "http://localhost:1337/signup">Go to signup!</a></button><br/>
<button><a href = "http://localhost:1337/map">Go to Map!</a></button>

    </body>
</html>